body {
    background-image: url(../images/midnight-bg.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

#game-intro {
    padding: 20px 0px;
    height: 100vh;
}

#game-container {
    display: none;
    width: 100%;
    padding: 0;
    justify-content: space-around;
}

#game-screen {
    display: none;
    align-content: center;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url(../images/midnight-bg.png);
    background-size: cover;
    
}

#game-end {
    display: none;
  }